body, html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

#B1{
    float: left;
    margin-left: 5em;
    margin-right: 1px;
    margin-top: .5em;
    margin-bottom: 1em;

    height: 15px;
    width: 15px;
    background-color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    color: white;
}

#B1{
    float: left;
    margin-left: 3em;
    margin-right: .1em;
    margin-top: .5em;
    margin-bottom: 3em;

    height: 15px;
    width: 15px;
    background-color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    color: white;
}

#B2{
    float: left;
    /*margin-left: .1em;*/
    margin-right: .1em;
    margin-top: .5em;
    margin-bottom: 3em;

    height: 15px;
    width: 15px;
    background-color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    color: white;
}

#C{
    float: left;
    /*margin-left: .1em;*/

    margin-top: .5em;
    margin-bottom: 3em;

    height: 15px;
    width: 15px;
    background-color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    color: white;
}
/*.topnav {*/
/*    overflow: hidden;*/
/*    float: right;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    border-right: 1px lightgray;*/


/*}*/

/*a:link {*/
/*    color: black;*/
/*    padding: 2px;*/
/*    text-decoration: none;*/
/*}*/

/*a:link {*/
/*    border-right: 1px lightgray;*/
/*}*/

/* a:first-child {*/
/*    border-left: 1px lightgray;*/

/*}*/
.standard-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    box-sizing: border-box;
    margin-right: 30px;
}
.standard-nav li{
    border-right: 2px solid lightgray;
    display: inline-block;
    float: left;
    padding: 0 15px;

}

.standard-nav li > a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 35px;
    text-decoration: none;
}

#not-found {
    float: left;
    margin: 0;
    height: 130px;
    width: 100%;
    background-color: darkslateblue;
    padding-left: 60px;
    padding-top: 40px;
    color: white;
    box-sizing: border-box;
    font-size: 20px;


}