* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

html {
    box-sizing: border-box;
}


.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.25em;
    background-color: lightgray;
    flex-direction: row;
    margin: 0;
    padding: 0;

}
ul {
    list-style-type: none;
    flex-grow: 1;




}
li {
    display: inline;
    margin: 0;
    padding: 1em;
    align-items: center;
    height: 100%;

}
a {
    color: black;

}
a:hover {
    color: blue;

}

.logo {
font-size: 3em;
    flex-grow: 2;

}
.follow-us{
    padding: 1em;
    align-items: flex-end;

}
.icon {
 align-items: flex-end;
    padding: 1em;
}
.fa {
    padding-right: 1em;
}