.main-heading {
    color: #2d6187;
    text-align: center;
}


h2 {
    color: #28abb9;
    text-decoration: underline;
}
h5 {
    text-align: center;
}
body {
    /*background-image: url('../Img/background.jpg');*/
    /*background-size: 50%;*/

    background-color: #effad3;
}
ul {
list-style: square;

}


body {
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
    padding: 10px
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: #28abb9;
}